<div class="row">
  <div class="col-sm-12">
    <h4 class="text-primary"> <b>Manage: All Contacts</b> </h4>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-cogs"></i> Listings </div>
      <div class="card-body table-responsive">
        <table class="table table-bordered">
          <thead style="white-space: nowrap;">
            <tr>
              <th>S.NO</th>
              <th> NAME </th>
              <th> CAMPANY NAME </th>
              <th> EMAIL </th>
              <th> WORK PHONE </th>
              <th> GST TREATMENT </th>
              <th>RECEIVABLES</th>
              <th>PAYABALES</th>
            </tr>
          </thead>
          <tbody *ngIf="list.length">
            <tr
              *ngFor="let contact of list ; let i = index;">
              <td>{{i+1}}</td>
              <td>{{ contact?.contact_name }}</td>
              <td>{{ contact?.company_name }}</td>
              <td>{{ contact?.email }}</td>
              <td>{{ contact?.phone}}</td>
              <td>{{ contact?.gst_treatment}}</td>
              <td>{{ contact?.outstanding_receivable_amount}}</td>
              <td>{{ contact?.outstanding_payable_amount}}</td>
            </tr>
          </tbody>
          <tr class="text-center" *ngIf="!list.length">
            <td colspan="15">
              <h6>No Record Found !</h6>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- <pre [innerHtml]="list | json"> </pre> -->

